
.container {
    margin: 0;
}

.header {
    position: fixed;
    background-color: lightgray;
    text-align: center;
    width: 100%;
    height: auto;
    z-index: 10;
    padding-top:10px;
    padding-bottom: 10px;
}
.logo {
    position: fixed;
    background: inherit;
    background-color: lightgray;
    margin-left: 10px;
    padding-top: 10px;
    width: 100%;
    height: auto;
    z-index: 1111;
}

.movie_list{
    width: 50%;
    float: left;
}

.review_board{
    width: 50%;
    float: right;
}