{% extends 'base.html' %}
{% block content %}
    <div class="review_board>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Movie Name:     , Review from 1-5:  </h3>
        </div>
    </div>
    <div class="panel-body">
          <form action="" method="post">
              {% csrf_token %}
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Movie" id="review_movie" name="review_movie">
                  <input type="text" class="form-control" placeholder="Rating" id="message_body" name="message_body">

              </div><br>
              <input class="btn btn-danger" type="submit" value="Submit">
          </form>
    </div>


    {% for review in all_ureview %}
        <div class="panel panel-default">
          <div class="panel-body">
              {{ review.user_movie }}
              {{ review.user_review }}
          </div>
        </div>
    {% endfor %}
{% endblock %}
