<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <title>One Rater View</title>
</head>
<body>
<h1>One Rater View</h1>
<br><br><br><br>
<table>
{{ raters.occupation }}
{{ raters.age }}
{{ raters.gender }}
{{ raters.zip_code }}
{% for movie in movies %}
    {{ movie.movie }}
    {{ movie.rating }}
    {% endfor %}
</table>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
