{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="../static/main.css" rel="stylesheet" type="text/css">
    <title>Individual Movie View</title>
</head>
<body>

<div class="header">
<h1>One Movie View</h1>
</div>
<div class="logo">
<span class="glyphicon glyphicon-list"></span>
<span class="glyphicon glyphicon-star"></span>
<span class="glyphicon glyphicon-star-empty"></span>
<span class="glyphicon glyphicon-film"></span>
<span class="glyphicon glyphicon-pencil"></span>
</div>
<br><br><br><br><br>
<a href={% url 'TopTwenty' %}> Top Twenty Movies </a>
<a href={% url 'index_view' %}> Home</a>
<br><br><br>
<table>
<div>{{ movie.movie_title }}</div>
<div>Avg rating: {{ movie.avg_rating }}</div>

    {% for click in reviewers %}<tr>
    <td><a href="{% url 'one_rater_view' click.reviewer_id %}" class="list-group-item">{{ click.reviewer.id }}</a></td>
    <td><div>Their rating:  {{ click.rating }}</div></td></tr>
{% endfor %}

</table>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>